*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
keystore.properties
.directory
/doc
/app/src/androidTest/java/de/freehamburger/AndroidUnitTestPrivate.java
/app/src/androidTest/resources
