<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission-sdk-23 android:name="android.permission.FOREGROUND_SERVICE" />

    <permission android:name="${applicationId}.nix" android:protectionLevel="signature"/>

    <uses-feature android:name="android.software.app_widgets" android:required="false"/>
    <uses-feature android:name="android.software.print" android:required="false"/>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="*/*" />
        </intent>
    </queries>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".App"
        android:allowAudioPlaybackCapture="false"
        android:allowBackup="false"
        android:appCategory="news"
        android:dataExtractionRules="@xml/fyg"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="${icon}"
        android:label="${name}"
        android:largeHeap="false"
        android:manageSpaceActivity="de.freehamburger.SettingsActivity"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false"
        tools:ignore="UnusedAttribute">

        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />
        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.INFO" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/viewable_host_1"
                    android:scheme="http" />
                <data
                    android:host="@string/viewable_host_1"
                    android:scheme="https" />
                <data
                    android:host="@string/viewable_host_2"
                    android:scheme="http" />
                <data
                    android:host="@string/viewable_host_2"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter android:label="@string/action_font_use">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="application/x-font-ttf" />
            </intent-filter>
            <intent-filter android:label="@string/action_font_use">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.ttf" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".NewsActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.freehamburger.MainActivity" />
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.freehamburger.MainActivity" />
        </activity>
        <activity
            android:name=".TeletextActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize"
            android:exported="false"
            android:icon="@mipmap/ic_vt"
            android:label="@string/action_teletext"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.freehamburger.MainActivity" />
        </activity>
        <activity
            android:name=".VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:supportsPictureInPicture="true"
            android:theme="@style/AppTheme.Black">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.freehamburger.MainActivity" />
        </activity>
        <activity
            android:name=".FilterActivity"
            android:exported="false"
            android:label="@string/action_filter"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.freehamburger.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:exported="false"
            android:icon="@drawable/ic_build_black_24dp"
            android:label="@string/action_settings"
            android:noHistory="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Launcher">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".WidgetActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:exported="false"
            android:label="@string/action_widget_configure"
            android:noHistory="true"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".PictureActivity"
            android:exported="false"
            android:label="@string/action_view_picture"
            android:noHistory="true">
        </activity>

        <receiver android:name=".BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".widget.WidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE_OPTIONS"/>
                <action android:name="android.appwidget.action.APPWIDGET_DELETED"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"/>
        </receiver>

        <receiver
            android:name=".supp.ShareReceiver"
            android:exported="false" />

        <service
            android:name=".HamburgerService"
            android:description="@string/label_service"
            android:exported="false" />

        <service
            android:name=".UpdateJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".FrequentUpdatesService"
            android:description="@string/label_service_frequentupdates"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <service
            android:name=".BackgroundTile"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_qs"
            android:label="@string/pref_title_poll"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <provider
            android:name=".supp.SearchContentProvider"
            android:authorities="@string/app_search_auth"
            android:exported="true"
            android:permission="${applicationId}.nix"
            android:readPermission="android.permission.GLOBAL_SEARCH">
        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <!-- PicassoProvider is not needed unless the default Picasso instance is used -->
        <provider
            android:name="com.squareup.picasso.PicassoProvider"
            android:authorities="${applicationId}.com.squareup.picasso"
            android:exported="false"
            tools:node="remove" />
    </application>

</manifest>